.App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;

}

.App img{
  width: 100px;
}

.card-container{
  height: 500px;
  width: 500px;
  border: 3px solid red;
  background-color: whitesmoke;
}

.par-container{
  display: none;
}


.image-container img{
  width: 50px;
}